/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Tektur:wght@400;500;700&display=swap'); */

/* @font-face {
    font-family: Karla;
    src: url(./Karla\,Montserrat\,Poppins\,Tektur.zip);
    font-weight: 400;
} */